@charset "utf-8";
/* CSS Document */
@font-face { font-family: rubik; src: url('Rubik.ttf');}


html {
	scrollbar-color:  #080e12 #23282c;
}
body {
   	font-family: rubik;
    background-color: #080E12;
	background-image: url("TriangleBG.png");
	width: 100%;
	overflow-x: hidden;
}

h1{
	font-size: 2vw;
	text-align: left;
}
#TopCircle{
	overflow: hidden;
	z-index: 1;
	 position: fixed;
  top: -100px;
  right: -100px;
	width: 200px;
   	height: auto;	
}
#BottomCircle{
	overflow: hidden;
	z-index: 99;
	 position: fixed;
  bottom: -100px;
  left: -100px;
	width: 200px;
   	height: auto;	
}

div.topText{
	color: #080E12;
	font-size: 34px;
	font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}
div.bottomText{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

div.ArtNumbers{
	background-color: rgba(0,0,0,0.10);
	border-radius: 30px;
	width: 100%;
	position: flex;
}



.ArtNumbers img {
	width: 500px;
   	height: auto;	
}

.formBG{
	background-color: rgba(0,0,0,0.10);
}

.contactForm,
.form-items{
  width: 100%;
	text-align: left;
}
.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: 0px;
  outline: none;
  border-radius: 30px;
	
}
.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}
.form-items{
  position: flex;
}
.btn{
	font-family: rubik;
	width: 100%;
	font-weight: bold;
  background: #e7b055;
	background-image: url("YellowStripesBG.png");
	background-repeat: no-repeat;
  text-align: center;
	letter-spacing: 2px;
	text-shadow: 
		-2px -1px #000, 
		-2px -2px #000,
		0px -1px #000, 
		0px -2px #000,
		2px -1px #000, 
		2px -2px #000, 
		2px 0px #000,
		2px 1px #000,
		2px 2px #000,
		0px 1px #000,
		0px 2px #000,
		-2px 1px #000,
		-2px 2px #000,
		-2px 0px #000;	
  color: #fff;
  padding: 12px;
  border-radius: 25px;
	border-width: 3px;
  cursor: pointer;
}
.formBtn{
	font-family: rubik;
	width: 25%;
	float: left;
	font-weight: bold;
  background: #e7b055;
	background-image: url("YellowStripesBG.png");
	background-repeat: no-repeat;
	background-position: left;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 
		-2px -1px #000, 
		-2px -2px #000,
		0px -1px #000, 
		0px -2px #000,
		2px -1px #000, 
		2px -2px #000, 
		2px 0px #000,
		2px 1px #000,
		2px 2px #000,
		0px 1px #000,
		0px 2px #000,
		-2px 1px #000,
		-2px 2px #000,
		-2px 0px #000;		
  color: #fff;
  padding: 12px;
  border-radius: 25px;
	border-width: 3px;
  cursor: pointer;
}
.menuBtn{
	font-family: rubik;
	position: relative;
	bottom: 20px;
	width: 150px;
	font-weight: bold;
  background: #e7b055;
	background-image: url("BlueStripesBG.png");
	background-position: left;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 
		-2px -1px #000, 
		-2px -2px #000,
		0px -1px #000, 
		0px -2px #000,
		2px -1px #000, 
		2px -2px #000, 
		2px 0px #000,
		2px 1px #000,
		2px 2px #000,
		0px 1px #000,
		0px 2px #000,
		-2px 1px #000,
		-2px 2px #000,
		-2px 0px #000;		
  color: #fff;
  padding: 12px;
  border-radius: 25px;
	border-width: 0px;
	border-color: #000;
  cursor: pointer;
}
.menuBtn:hover {
	background-image: url("YellowStripesBG.png");
	background-position: left;
}

.dropDown{
	width: 25%;
	float: left;
	font-weight: bold;
	padding: 5px;
  	border-radius: 25px;
}


div.hidden-div{
	display: none;
}

.contact-me{
  width: 250px;
	background-image: url("BGCircles.png");
	background-size: cover;
	background-position: 50% 50%;
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: flex;
}

.Shop{
  width: 80%;
	background-image: url("BGBlue.png");
	background-color: #4c77b1;	
	background-size: 80% auto;
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: flex;
	text-align: center;
}

div.Logo {
	background-color: #080E12;	
	background-image: url("BlackStripesBG.png");
	background-position: left;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
}



.Logo img {
	width: 400px;
   	height: auto;			
}
.Buttons img{
	width: 100px;
   	height: auto;	
}
#Buttons{
	z-index: 99;
	display:inline;
}

.Artwork img{
	width: 45%;
   	height: auto;	
}
.Artwork{
	width: 80%;
	background-image: url("BGBlue.png");
	background-color: #4c77b1;	
	background-size: 80% auto;
	
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: flex;
	text-align: center;
}

.productImg{
	width: 100px; 
	height: auto;
}
.productImg:focus{
	width: 300px; 
	height: auto;
}
.productImg:active{
	width: 300px; 
	height: auto;
}

.shopCart {
	background-color: #4c77b1;	
	border: 5px solid #e7b055;
	padding: 20px;
  	border-radius: 30px;
	position: fixed;
	left: 105px;
	bottom: 20px;
   	height: 5vh;
	text-align: left;
}
.shopCartSecondBoarder{
	background-color: white;	
	border: 9px solid white;
	padding: 20px;
  	border-radius: 30px;
	position: fixed;
	left: 101px;
	bottom: 16px;
   	height: 5vh;
	text-align: left;
}

.FacebookIcon {
	position: fixed;
	right: 105px;
	bottom: 20px;
   	height: 5vh;	
}
.FacebookIcon img {
	width: 30%;
   	height: auto;		
}

.TwitXIcon {	
	position: fixed;
	right: 55px;
	bottom: 20px;
	height: 5vh;	
}
.TwitXIcon img {
	width: 30%;
   	height: auto;		
}

.InstaIcon {
	position: fixed;
	right: 5px;
	bottom: 20px;
   	height: 5vh;	
}
.InstaIcon img {
	width: 30%;
   	height: auto;		
}