{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   	height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #080E12;	
}
img {
	width: 100%;
    height: auto;
		
}
