@charset "utf-8";
/* CSS Document */
body {
   	font-family: sans-serif;
    background-color: #080E12;	
	width: 95%;
	background-image: url("TriangleBG.png");
}

.Logo img {
	
	width: 97.25%;
   	height: auto;		
}

.menuBtn{
	font-family: rubik;
	margin: 5px;
	width: 150px;
	font-weight: bold;
  background: #e7b055;
	background-image: linear-gradient(to right, #00080E12, #16345db3), url("BlueStripesBG.png");
	background-position: left;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 
		-2px -1px #000, 
		-2px -2px #000,
		0px -1px #000, 
		0px -2px #000,
		2px -1px #000, 
		2px -2px #000, 
		2px 0px #000,
		2px 1px #000,
		2px 2px #000,
		0px 1px #000,
		0px 2px #000,
		-2px 1px #000,
		-2px 2px #000,
		-2px 0px #000;		
  color: #fff;
  padding: 12px;
  border-radius: 25px;
	border-width: 0px;
	border-color: #000;
  cursor: pointer;
}
.menuBtn:hover {
	background-image: linear-gradient(to right, #e7b05500, #ad7a2680), url("YellowStripesBG2.png");
	background-position: left;
}

.Art {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 35%;
	
}
.Art img {
	flex: 1;
	object-fit: cover;
	width: 100%;
   	height: auto;	
}

.FacebookIcon {
	position: absolute;
	right: 105px;
	bottom: 20px;
   	height: 5vh;	
}
.FacebookIcon img {
	width: 30%;
   	height: auto;		
}

.TwitXIcon {	
	position: absolute;
	right: 55px;
	bottom: 20px;
	height: 5vh;	
}
.TwitXIcon img {
	width: 30%;
   	height: auto;		
}

.InstaIcon {
	position: absolute;
	right: 5px;
	bottom: 20px;
   	height: 5vh;	
}
.InstaIcon img {
	width: 30%;
   	height: auto;		
}
