{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   	height: 75vh;
    	display: flex;
    	justify-content: center;
    	align-items: center;
   	font-family: sans-serif;
    	background-color: #080E12;	
}
img {
	width: 100%;
   	height: auto;		
}
.FacebookIcon {
	position: absolute;
	right: 0px;
	bottom: 0px;
   	height: 25vh;	
}
.FacebookIcon img {
	width: 100%;
   	height: auto;		
}

.TwitXIcon {
	position: absolute;
	right: 10px;
	bottom: 0px;
   	height: 25vh;		
}
.TwitXIcon img {
	width: 100%;
   	height: auto;		
}

.InstaIcon {
	position: absolute;
	right: 20px;
	bottom: 0px;
	height: 25vh;	
}
.InstaIcon img {
	width: 100%;
   	height: auto;		
}
